#container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NAV-STYLING */
.nav{
    width: 100%;
    height: 15vh;
    background-color: whitesmoke
    ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.nav .logo img{
    width: 8rem;
    height: 6rem;
    border-radius: 50%;
}

.navpages ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}

.navpages ul li{
    list-style: none;
    gap: 3rem;
}

.navpages ul li a{
    text-decoration: none;
    color: #0C169D;
    font-size: 20px;
}

.navpages a:hover{
    color:  red;
    transition: all 0.3s ease;
}


.callbtn{
    color: white;
    background-color: #0C169D;;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.callbtn:hover{
    background-color: #2b34bc;
    transition: all 0.3s ease;

}

.first__section{
    margin-top: 8%;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-around;
    margin-bottom: 20px;
}

.text__container{
    width: 50%;
    font-size: 20px;
}



.text__container h1{
    font-size: 4rem;
}

.img__container img{
    width: 600px;
    height: 500px;
    border-radius: 20%;
}


/* FIRST-SECTION STYLING

.first-section{
    height: 50%;
    padding-top: 7.3rem;
    display: flex;
    flex-direction: column;
    
}

.first-section .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: white;

}

.first-section .intro .teams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.first-section .intro .teams .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section .intro .teams .card img{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
.about_us{
    width: 60%;
}
 .first-section .intro .team{
    
    background-color: rgb(169, 130, 70);
}


 */

/* SECOND-SECTION STYLING */


.second_section{
    text-align: center;
    height: 100vh;
    background-image: url(images/DSC_1359.jpg   );
    background-position: center;
    background-size: cover;
    /* opacity: -0; */
    background-repeat: no-repeat;

    
}

.headER{
    color: white;
    font-size: 34px;
}
.second_section .intro_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 10%;

   
}
.sub_one{
 width: 300px;
 background-color: white;
 padding: 10px;
}

.sub_one img{
    width: 100%;
        
}

.section-three{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
   
}

.services-sec{
    width: 100%;
    height: 30%;
    text-align: center;
}
.section-three_item{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  
    gap: 2rem;
}

.item{
    width: 26rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: black;
    box-shadow: 1rem 1rem 0.7rem black;

}

.item p{
    width: 60%;
}

.item svg{
    width: 22%;
    height: 22%;
}

@media screen and (max-width: 680px) {
    .section-three_item{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .section-three_item .item p{
        text-align: center;
        width: 20rem;
        height: 30rem;
    }
}

.footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(images/DSC_1362.jpg);
    /* background-color: darkblue; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: azure;
    align-items: center;
    justify-content: center;
    
}

.foot{
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 70%;
    
}

.contactme{
    width: 50%;
}

.contact-media{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-media a{
    width: 5%;
    height: 5%;
    display: flex;
    flex-direction: row;
    
   
}

.contact-media a svg{
    background-color: aliceblue;
}


@media screen and (max-width: 680px) {
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
       justify-content: center;
       align-items: center;
        }
}

/*SERVICES PAGE*/

.contactpage{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contactpage form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 16px 15px 14px black;
}

.contactpage form .inputonly{
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0.2rem solid navy;

}

.contactpage form .commit{
    border-radius: 10px;
    border: 0.1rem solid navy;
    color: navy;
}

.submit{
    width: 10rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: aliceblue;
    border-color: navy;
    color: navy;
}

.mail svg{
    width: 1.4rem;
    height: 1.4rem;
    
}

.mail strong{
    color: navy;
}

.form_section {
    margin-top: 50px;
}

.form_section form input{
    width: 300px;
    padding:  10px 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}


.form_section form textarea{
    width: 310px;
    border-radius: 20px;
    padding: 10px;
}

.inputclass{
    text-align: center;
    background-color: white;
    padding: 10px 20px;
}