#container{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NAV-STYLING */
.nav{
    width: 100%;
    height: 20vh;
    background-color: whitesmoke
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.nav .logo{
    

   
}
.nav .logo img{
    width: 8rem;
    height: 6rem;
    border-radius: 50%;
}

.navpages ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}

.navpages ul li{
    list-style: none;
    gap: 3rem;
}

.navpages ul li a{
    text-decoration: none;
    color: #0C169D;
}



/* FIRST-SECTION STYLING */

.first-section{
    height: 50%;
    padding-top: 7.3rem;
    display: flex;
    flex-direction: column;
    
}

.first-section .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: white;

}

.first-section .intro .teams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.first-section .intro .teams .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section .intro .teams .card img{
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
.about_us{
    width: 60%;
}
 .first-section .intro .team{
    
    background-color: rgb(169, 130, 70);
}




/* SECOND-SECTION STYLING */


.second_section{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0C169D;
    align-items: center;

    
}

.second_section .intro_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    height: 100%;
   
}
.sub_one{
    width: 40%;
    height: 50%;
}












.section-three{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
   
}

.services-sec{
    width: 100%;
    height: 30%;
    text-align: center;
}
.section-three_item{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  
    gap: 2rem;
}

.item{
    width: 26rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: black;
    box-shadow: 1rem 1rem 0.7rem black;

}

.item p{
    width: 60%;
}

.item svg{
    width: 22%;
    height: 22%;
}

@media screen and (max-width: 680px) {
    .section-three_item{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .section-three_item .item p{
        text-align: center;
        width: 20rem;
        height: 30rem;
    }
}

.footer{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    color: azure;
    align-items: center;
    justify-content: center;
    
}

.foot{
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 70%;
    
}

.contactme{
    width: 50%;
}

.contact-media{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-media a{
    width: 5%;
    height: 5%;
    display: flex;
    flex-direction: row;
    
   
}

.contact-media a svg{
    background-color: aliceblue;
}

.form_section form input{
    width: 50%;
    height: 2rem;
}

.form_section form .inputclass{
    height: 1.6rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.form_section form .inputclass:hover{
    border: 0.1rem solid aliceblue;
    color: aliceblue;
    background-color: black;
}

@media screen and (max-width: 680px) {
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
       justify-content: center;
       align-items: center;
        }
}

/*SERVICES PAGE*/

.contactpage{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contactpage form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 16px 15px 14px black;
}

.contactpage form .inputonly{
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0.2rem solid navy;

}

.contactpage form .commit{
    border-radius: 10px;
    border: 0.1rem solid navy;
    color: navy;
}

.submit{
    width: 10rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: aliceblue;
    border-color: navy;
    color: navy;
}

.mail svg{
    width: 1.4rem;
    height: 1.4rem;
    
}

.mail strong{
    color: navy;
}


